body {
	font-size: $base-font-size;
	font-family: 'Roboto', sans-serif;
	line-height: 1.25;
}


/*=====================================================
	Heading
=====================================================*/

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1em;
	margin-bottom: 1em;
	letter-spacing: -0.02em;
	font-weight: 300;
}

h1 {
	font-size: $base-font-size * 3;
	text-align: center;
	margin-top: 0;
}

h2 {
	font-size: $base-font-size * 2.2;
}

h3 {
	font-size: $base-font-size * 1.8;
}

h4 {
	font-size: $base-font-size * 1.6;
}

h5 {
	font-size: $base-font-size * 1.4;
}

h6 {
	font-size: $base-font-size * 1.2;
}


/*=====================================================
	Links & Paragraph
=====================================================*/

p {
	font-size: $base-font-size;
	margin-bottom: $base-line-height / 2;

	&.lead {
		font-size: $base-font-size * 1.25;
	}
}

a {
  color: $active-color;
  text-decoration: none;
  outline: 0;
  line-height: inherit;
  
  &:hover {
    color: darken( $active-color, 20%);
  }
}