
/*=====================================================
	Colors
=====================================================*/

$base-color:			#212121;
$active-color: 			#ef6c00;
$bg-color: 				#F9F9F9;
$success-color:			#3c763d;
$error-color:			#a94442;
$info-color:			#31708f;


/*=====================================================
	Font
=====================================================*/

$base-font-size: 		16px;
$base-line-height: 		26px;

/*=====================================================
	Layout
=====================================================*/

$layot-header-height: 	64px;


/*=====================================================
	Media queries
=====================================================*/

$desktop-break: 		"( min-width: 900px )";
$tablet-break: 			"( max-width: 900px )";
$mobile-break: 			"( max-width: 600px )";
$retina-break:			"(min-device-pixel-ratio: 2)";