.blog-post {

}

.blog-post__title {
	margin-top: 0;
}

.blog-post__date {
	font-size: $base-font-size * 0.8;
	font-style: italic;
 	color: #999;
}

.blog-post__image {
	margin-bottom: 20px;
	border: 4px solid #fff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
	
	@media #{$desktop-break}  {
		width: 40%;
		float: left;
		margin-right: 20px;
	}
	
	@media #{$tablet-break}  {
		width: 100%;
		margin-right: 0;
	}
}

.blog-post__bar {
	a {
		display: inline-block;
		margin-right: 10px;
	}
}